body{
    background-color: rgb(255, 176, 4);
}
.Titulo{
    color: #000000;
    display: flex;
    justify-content: center;
}
.Jogos{
   display: flex;
   justify-content:flex-end;
   flex-direction:row;
}